.restaurant-index-header {
    justify-content: center;
    // text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
}
.restaurant-index-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}