.restaurant-search-list {
    overflow: hidden;
    height: auto;
    background: whitesmoke;
    color: grey;
    font-size: 1rem;
    list-style: none;
    width: 240.05px;
    padding-left: 0%;
    padding-bottom: 2%;
    margin-top: -24px;
    border-radius: 0px 0px 4px 4px;;
    -webkit-background-clip: padding-box; 
    -moz-background-clip:    padding; 
    background-clip:         padding-box;
    border-left-color: gray;
    border: 1px grey;
    margin-right: 0px;
}

.search-bar-input {
    position: relative;
    vertical-align: top;
    background-color: whitesmoke;
    font-size: 1rem;
    padding: .5rem 0 .5rem 2.5rem;
    height: 100%;
    font-weight: 400;
    width: 200px;
    line-height: 1.43;
    border-radius: 4px 4px 0px 0px;
    -webkit-background-clip: padding-box; 
    -moz-background-clip:    padding; 
    background-clip:         padding-box;
    border: 1px darkgray
}

.search-bar-input:focus {
    outline: none;
}

.restaurant-search-list-li {
    padding-left: 15%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.restaurant-search-list-li:nth-of-type(1n+6) {
    display: none;
}

.restaurant-search-list-li:hover {
    background-color: red;
    color: white;
}

.restaurant-search-list-header {
    padding-top: 1%;
    padding-bottom: 1%;
}

.search-bar-input-container {
    margin-top: 3%;
}