.restaurant-index-img {
    height: 100px;
    width: 100px;
}

.restaurant-index-li {
    display: flex;
    flex-direction: column;
}

.restaurant-index-ul {
    display: flex;
    flex-direction: row;
}

.restaurant-index-ul-advancing-button {
    height: 20px;
    width: 20px;
}