.restaurant-search-list {
    overflow: hidden;
    height: auto;
    background: whitesmoke;
    color: black;
    font-size: 1rem;
    list-style: none;
    width: 150px;
}

.search-bar-input {
    position: relative;
    vertical-align: top;
    background-color: whitesmoke;
    font-size: 1rem;
    padding: .5rem 0 .5rem 2.5rem;
    height: 100%;
    font-weight: 400;
    line-height: 1.43;
}