.restaurant-index-header {
    justify-content: center;
    // text-align: center;
    font-size: 24px;
    font-weight: normal;
    line-height: 32px;
}
.restaurant-index-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.restaurant-index-splash {
    width: 100%;
    height: 450px;
    margin-bottom: 3%;
}

.restaurant-index-splash > figure {
    top: 0px;
    z-index: 0;
    margin: 4% 0 0 0;
    position: absolute;
    width: 100%;
    height: 450px;
}

.restaurant-index-splash > figure:nth-child(1) { 
    background-image: url(https://resizer.otstatic.com/v2/photos/wide-huge/25161502.jpg); 
    background-size: cover;
    background-position: center center;
    animation:fade 18s infinite;
    -webkit-animation:fade 18s infinite;
}
 
.restaurant-index-splash > figure:nth-child(2) {
    background-image: url(https://resizer.otstatic.com/v2/photos/wide-huge/25160669.jpg);
    background-size: cover;
    background-position: center center;
    animation:fade2 18s infinite;
    -webkit-animation:fade2 18s infinite;
}
.restaurant-index-splash > figure:nth-child(3) {
    background-image: url(https://resizer.otstatic.com/v2/photos/wide-huge/25160340.jpg);
    background-size: cover;
    background-position: center center;
    animation:fade3 18s infinite;
    -webkit-animation:fade3 18s infinite;
}

@keyframes fade {
  0%   {opacity:1}
  33.333% { opacity: 0}
  66.666% { opacity: 0}
  100% { opacity: 1}
}
@keyframes fade2 {
  0%   {opacity:0}
  33.333% { opacity: 1}
  66.666% { opacity: 0 }
  100% { opacity: 0}
}
@keyframes fade3 {
  0%   {opacity:0}
  33.333% { opacity: 0}
  66.666% { opacity: 1}
  100% { opacity: 0}
}

.restaurant-index-ul-container {
    width: 952px
}

.restaurant-index-splash-message {
    z-index: 3;
    position: absolute;
    color: white;
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
}