.restaurant-index-img {
    height: 100px;
    width: 100px;
}

.restaurant-index-li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.restaurant-index-ul {
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: space-between;
}

.restaurant-index-ul-increase-button {
    height: 20px;
    width: 20px;
    margin-top: 4%;
}

.restaurant-index-ul-decrease-button {
    height: 20px;
    width: 20px;
    margin-top: 4%;
}