.rating-row {
    margin-top: 5px;
    display: flex;
    align-items: center;
    color: #00635d;
    font-size: 11px;
}
.stars {
    display: flex;
    margin-bottom: 10px;
    font-size: 16px;
    color: #aaa;
}
